.bottom_button{
    -fx-background-color: #2c2cb7;
    -fx-border-color: #2c2cb7;
    -fx-pref-height: 50px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-pref-width: 100%;
}

.bottom_button:hover{
    -fx-background-color: #3c3ca7;
    -fx-border-color: #1c1ca7;
}

.bottom_button:pressed{
    -fx-border-color: #1c1ca7;
    -fx-background-color: #1c1ca7;
}

.bottom_button_label{
    -fx-font-size: 22px;
    -fx-text-fill: white;
}

.memory_button{
    -fx-background-color: #2c2cb7;
    -fx-border-color: #2c2cb7;
}

.memory_button:hover{
    -fx-background-color: #3c3ca7;
    -fx-border-color: #1c1ca7;
}

.memory_button:pressed{
    -fx-border-color: #1c1ca7;
    -fx-background-color: #1c1ca7;
}

.memory_button_label{
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.title{
    -fx-alignment: center;
    -fx-font-size: 50px;
}

.game_grid{
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
}

.error_label {
    -fx-text-fill: crimson;
}

.text_field_error {
    -fx-background-color: crimson, white ;
}

.lobby_list{
    -fx-pref-width: 500px;
    -fx-min-width: 500px;
    -fx-pref-height: 500px;
    -fx-min-height: 500px;
    -fx-background-color: darkgrey;
}

.card {
    -fx-pref-height: 122px;
    -fx-min-height: 122px;
    -fx-max-height: 122px;
    -fx-pref-width: 86px;
    -fx-min-width: 86px;
    -fx-max-width: 86px;
}

.limits_container {
    -fx-font-size: 18px;
}

.lobby_list_title {
    -fx-background-color: white;
    -fx-font-size: 20px;
}

.lobby_list_host {
    -fx-background-color: white;
    -fx-font-size: 12px;
}

.player_playing{
    -fx-text-fill: #2c2cb7;
    -fx-background-color: darkgrey;
}

.score_list {
}

.score_list_playing{
    -fx-background-color: darkgrey;
}

.score_list_winner{
    -fx-background-color: #2c2cb7;
}

.score_list_username {
}

.score_list_username_playing{
    -fx-text-fill: #1c1ca7;
}

.score_list_username_winner{
    -fx-text-fill: white;
}

.score_list_score_winner {
    -fx-text-fill: white;
}

.currently_playing_true{
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-background-color: green;
}

.currently_playing_waiting{
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-background-color: #2c2cb7;
}

.currently_playing_false{
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-background-color: red;
}